/.settings/*

/html-template/*
/bin-debug/*

.actionScriptProperties
.flexProperties
.flexLibProperties
.fxpProperties
.project
.sourceMate
.sourceMateMetadataSettings
.FlexUnitSettings

Icon
Thumbs.db
.DS_Store

